PORT=5000
ADMIN_EMAIL=nicowens@gmail.com
ADMIN_PASSWORD=0255
JWT_SECRET=change-me
DEV_FAKE_TOKEN=1234567890
DEFAULT_PASS_NEW_USER=ChangeMe123!

DB_HOST=
DB_PORT=1433
DB_USER=
DB_PASSWORD=
DB_NAME=STOREFRONT
